#edituserTable td:nth-child(7), #edituserTable td:nth-child(8) {
    cursor: pointer;
}

.promoteDemoteButton, .banUnbanButton {
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.promoteDemoteButton[data-content="Promote"]
{
    background-color: green;
    border-color: green;
    color: white;
}

.promoteDemoteButton[data-content="Demote"]
{
    background-color: darkred;
    border-color: darkred;
    color: white;
}

.banUnbanButton[data-content="Ban"]{
    background-color: #f39f18;
}

.banUnbanButton[data-content="Unban"]{
    background-color: #fed049;
}

.deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}