body {
    background-color: #faf7e5;
}

.module{
    text-align: center;
}

.module form{
    display: inline-block;
    margin:auto;
}

#modify_users_table{
    margin-left: auto;
    margin-right:auto ;
    border: 3px solid black;
    border-collapse: collapse;

}
#modify_users_table th{
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        border-width: 3px;
        border-style: solid;
        border-color: black;
        border-image: initial;
}
#modify_users_table td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
#modify_users_table tr:hover {
    background-color: #cdcdcd;
}
#modify_users_section{
    margin-top: 50px;
}
.error {
    color: red;
    display: block;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

h4 {
    text-align: center;
    font-size: 25px;
}
.carousel {
    position: relative;
    max-width: 1300px;
    height: 400px;
    margin: auto;
    overflow: hidden;
}

.carouselImages {
    display: flex;
    overflow-x: auto;
    max-width: 1300px;
}

.imageContainer {
    margin-right: 20px;
    position: relative;
}

.imageContainer img {
    width: 300px;
    height: 300px;
    display: block;
}

.imageContainer .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

.footer{
    text-align: center;
    background-color: #333;
    color:#fff;
    padding: 20px;
    height: 80px ;
    inset: 0;
    margin-top: 100px;
}
.footer a {
    color: white;
    margin: 0 5px;
}
.footer p{
    margin :0;
    font-size: 13px;

}
.wrapper {
    height:auto ;
    min-height:calc(100vh - 46px - 155.5px);
}
.titleFooter{
    font-size: 15px;
}
.social-media{
    margin-top: 3px;
}
