#edituserTable td:nth-child(7), #edituserTable td:nth-child(8) {
    cursor: pointer;
}

.promoteButton {
    cursor: pointer;
    color: white;
}

.promoteButton[data-content="Promote"]
{
    background-color: green;
    border-color: green;
}

.promoteButton[data-content="Demote"]
{
    background-color: darkred;
    border-color: darkred;
}

.deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}