#edituserTable td:nth-child(7) {
    cursor: pointer;
}
#edituserTable td:nth-child(11) {
    cursor: pointer;
}

.promoteButton {
    cursor: pointer;
    color: white;
}

.promoteButton[data-content="Promote"]
{
    background-color: green;
    border-color: green;
}

.promoteButton[data-content="Demote"]
{
    background-color: darkred;
    border-color: darkred;
}