.studySessions, .editUser, .personalRank, .globalRank {
    font-family: 'Roboto', sans-serif;;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 15px;
}

.search-options {
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin: 10px auto;
    display: flex;
}

.filters {
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin: 10px auto;
    display: flex;
}

.valueFilter {
    margin-left: 10px;
    display: none;
}

.search {
    margin-left: auto;
}

#studySessionTableContainer {
    width: 100%;
    align-items: center;
}

#personalRankTableContainer, #globalRankTableContainer {
    width: 75%;
    margin: auto;
}

.dataTable {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    width: 85%;
    margin: auto;
    font-size: 12px;
}

.dataTable th {
    height: 50px;
    border: 0.5px solid black;
    text-align: center;
    background-color: lightgreen;
}

.dataTable tbody tr td{
    height: 40px;
    border: 0.5px solid black;
    text-align: center;
    background-color: white;
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

#rankRedirect {
    margin-top: 10px;
}
