body {
    background-color: #faf7e5;
}

.PageRegistration, .PageLogin, .PageUpdate {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #cad7b2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 100px auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.headerRegistration, .headerLogin, .headerMyProfile {
    width: 100%;
    border-bottom: 2px solid black;
    background-color: #a8caba;
}

.headerRegistration h1, .headerLogin h1, .headerMyProfile h1 {
    font-weight: normal;
    font-size: 25px;
}

.RegistrationForm, .LoginForm, .UpdateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

#UserRegistration, #UserLogin, #UserUpdate {
    width: 50%;
}
.Firstname label, .Lastname label, .Email label, .Password label, .ConfirmPassword label {
    display: flex;
    justify-items: flex-start;
}

.Firstname input[type="text"], .Lastname input[type="text"], .Email input[type="email"], .Password input[type="password"], .ConfirmPassword input[type="password"] {
    display: block;
    margin: 10px auto;
    width: 60%;
    font-size: 15px;
}

.RememberMe{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.ForgotPassword {
    text-align: right;
    margin-top: 10px;
}

#Submit {
    text-align: center;
    margin-top: 10px;
}

#Submit input[type="submit"] {
    font-size: 15px;
}