.podium {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.podium div {
    width: 100px;
    background-color: darkblue;
    border-radius: 5px;
    margin: 0 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}

#firstPlace {
    background-color: #ffffd7;
}

#secondPlace {
    background-color: #c0c0c0;
}

#thirdPlace {
    background-color: #b08d57;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    display: none;
}