header, h2, body {
    font-family: 'Roboto', sans-serif;
    background-color: #faf7e5;
}

.header_button {
    border: 0;
    margin: 0.3rem;
    outline: 0;
    cursor: pointer;
    background-color: #a8caba;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-flex;
    min-height: 28px;
    transition: background-color .24s, box-shadow .24s;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header_button:hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

header {
    margin-bottom: 0;
}

#privateheaderButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf7e5;
}

.right_button {
    display: flex;
    margin-left: auto;
}

.left_button {
    display: flex;
    margin-right: auto;
}
