.hidden {
    display: none;
}

#popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#popUpContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#popUpContent h2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirm {
    margin-top: 30px;
    text-align: center;
}

.popupValue {
    font-weight: bold;
}

.yesButton, .noButton {
    cursor: pointer;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 5px;
}

.yesButton {
    background-color: green;
}

.noButton {
    background-color: darkred;
}

#changeMoney, #resetAmount {
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 12px;
}

#resetAmount {
    margin-top: 15px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.space{
    color: red;
}