.podium div {
    width: 150px;
    border-radius: 5px;
    margin: 0 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 60%;
}

.popup .podium {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height:60%
}

#PfirstPlace, #PsecondPlace, #PthirdPlace,
#PfirstPlaceName, #PsecondPlaceName, #PthirdPlaceName,
#PfirstPlaceSubject, #PsecondPlaceSubject, #PthirdPlaceSubject {
    transform: rotateX(180deg);
    transform-origin: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.podium #firstPlace {
    position: relative;
    background-color: #ffffd7;
    height: 90%;
}

.podium #secondPlace {
    position: relative;
    background-color: #c0c0c0;
    height: 60%;
}

.podium #thirdPlace {
    position: relative;
    background-color: #b08d57;
    height: 30%;
}

#PfirstPlace, #PsecondPlace, #PthirdPlace {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(180deg);
    font-size: 20px;
}

#PfirstPlace {
    top: 80%
}

#PsecondPlace {
    top: 65%
}

#PthirdPlace {
    top: 50%;
}
#PfirstPlaceName, #PsecondPlaceName, #PthirdPlaceName,
#PfirstPlaceSubject, #PsecondPlaceSubject, #PthirdPlaceSubject {
    margin-top: 5px;
    padding-top: 50%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #faf7e5;
    z-index: 998;
    display: none;
}

#closePopup {
    position: absolute;
    right: 10px;
    z-index: 1000;
}

#closePopupButton {
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}