.right_button {
    display: flex;
    margin-left: auto;
}

.left_button {
    display: flex;
    margin-right: auto;
}

#Shop_NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf7e5;
}

.shop_button {
    border: 0;
    margin: 0.3rem;
    outline: 0;
    cursor: pointer;
    background-color: #a8caba;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-flex;
    min-height: 28px;
    transition: background-color .24s, box-shadow .24s;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.card-image {
    max-height: 200px; /* Set the maximum height for the image */
    width: auto;
    height: auto;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-price {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-buy {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.YourMoney {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.TotalPrice{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.info {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}